<div class="backdrop"></div>
<div class="modal" (clickOutside)="closeModal()">
	<div class="modal__container">
		<div class="modal__title">
			<h2>Detalhes do dono</h2>
			<h2 class="modal__title--name">{{owner$.name}}</h2>
			<p>{{owner$.nickName}}</p>
		</div>
		<div class="modal__owner-details">
			<div class="modal__owner-details--column">
				<h2>E-mail</h2>
				<p>{{owner$.email}}</p>
			</div>
			<div class="modal__owner-details--column">
				<h2>Telefone</h2>
				<p>{{owner$.phone}}</p>
			</div>
		</div>
		<h2>Pets</h2>
		<table class="table-pets">
			<thead>
				<th>Nome</th>
				<th>Apelido</th>
				<th>Raça</th>
				<th>Espécie</th>
			</thead>
			<tbody>
				<tr *ngFor="let pet of ownerPets$ | async">
					<td>{{pet.name}}</td>
					<td>{{pet.nickName}}</td>
					<td>{{pet.breed}}</td>
					<td>{{pet.species}}</td>
				</tr>
			</tbody>
		</table>
		<button id="basic" type="button" mat-raised-button (click)="closeModal()">
			Fechar modal
		</button>
	</div>
</div>