$first-color: #11bd6a;

.container {
	max-width: 1440px;
	min-width: 480px;
	margin: 0 auto;

	h1 {
		margin-bottom: 0;
	}
}

.petshop-page-header {
	font-size: 36px;
	font-weight: 900;
	padding: 24px 0;
}

.add-registry {
	position: fixed;
	bottom: 20px;
	right: 20px;
	&__button {
		background: $first-color;
		color: white;
	}
}