<div class="backdrop"></div>
<div class="modal" (clickOutside)="closeModal()">
	<div class="modal__container">
		<div class="modal__title">
			<h2>Detalhes do pet</h2>
			<h2>{{pet.name}}</h2>
			<p>{{pet.nickName}}</p>
		</div>
		<div class="modal__pet-details">
			<div class="modal__pet-details--column">
				<h2>Raça</h2>
				<p>{{pet.breed}}</p>
			</div>
			<div class="modal__pet-details--column">
				<h2>Espécie</h2>
				<p>{{pet.specie}}</p>
			</div>
			<div class="modal__pet-details--column">
				<h2>Dono</h2>
				<p>{{owner.name}}</p>
				<p>{{owner.phone}}</p>
			</div>
		</div>
		<button id="basic" type="button" mat-raised-button (click)="closeModal()">
			Fechar modal
		</button>
	</div>
</div>