.petshop-dialog {
	display: none;
	position: fixed;
	width: 100vw;
	height: 0;
	z-index: 99;
	background-color: none;

	&__close {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
		background-color: inherit;
		border: 0;

		&:hover {
			color: grey;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
	}

	&__active {
		transition: 0.2s all;
		display: block;
		background-color: rgba(0, 0, 0, 0.4);
		height: 100vh;
	}

	&__wrapper {
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2em;
		background: var(--app-color-neutral-white);
		border-radius: 1rem;
	}

	&__content {
		transition-delay: 0.2s;
		transition-duration: 0.2s;
		transition-property: all;
		transition-timing-function: ease-in-out;
	}
}